figcaption {
    text-align: center;
}

.team-members {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.team-members > figure {
    flex-shrink: 0;
}

.projects {
    display: flex;
    flex-direction: column;
}

.project {
    flex: 1;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 0.25rem;
    padding: 0 1rem;
}

.project + .project {
    margin-top: 1rem;
}
